* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    margin: 0;
}

a {
    color: #333;
    text-decoration: none;
}

ul {
    list-style: none;
}

h1, h2 {
    margin-bottom: 20px;
}

.post {
    background: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* Buttons */
button[type="submit"], input[type="submit"] {
    background: #5D93E1;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button.delBut {
    background: #a62121;
    color: #fff;
    border: none;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    align-self: flex-end;
}

.delete-form {
    margin-left: auto;
}

.post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a.editBut {
    background: #a62121;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 16px;
}

.post h2 {
    margin-top: 0;
}

.post p {
    color: #666;
    margin-bottom: 20px;
}

button:hover, input[type="submit"]:hover {
    background: #457fca;
}

/* Form styles */
form div {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

textarea {
    height: 100px;
}